/* Application-wide Styles */
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  margin: 2em auto;
  max-width: 1024px;
  text-align: center;
  
  @media screen and (min-width: 768px) {
    flex-direction: column;
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
    color: #260339;
  }
}
