.mat-card {
  max-width: 65%;
  margin: 0 auto;
  text-align: left;
}

.mat-card-content {
  ul {
    padding-left: 1.125rem;
  }

  li {
    margin-bottom: .8rem;
  }

  span {
    font-weight: bold;
  }
}
